{% extends 'base.html.twig' %}

{% block title %}Lorem ipsum{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/top_bar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include "navegation/top_bar.html.twig" %}

    <div id="row-content" class="row justify-content-center">
        <div id="content" class="col-11 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}