.user-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 12em;
    margin: 1em 1em 2em 1em;
}

.user-card-email {
    font-size: 0.9em;
}

.user-avatar {
    border: 2px solid #212529;
    border-radius: 100%;
    object-fit: cover;
    width: 8em;
    height: 8em;
}

.page-link:hover {
    cursor: pointer;
}

.page-link:focus {
    box-shadow: none;
    background: none;
}

.page-item.active {
    margin: 0 2em;
}

.pagination {
    --bs-pagination-border-radius: none;
}

#select-per-page:focus{
    box-shadow: none;
    border-color: #ced4da;
}